<div class="card">
  <div class="card-header">
    <h2><%= artist.name %></h2>
  </div>
  <div class="card-description">
    <p><%= artist.description %></p>
  </div>
  <div class="card-photo">
    <%= cl_image_tag artist.photo, height: 300, width: 400, crop: :fill %>
  </div>
</div>
