<div class="card">
  <div class="card-header">
    <h2><%= shop.product %></h2>
  </div>
  <div class="card-description">
    <p><%= shop.price %></p>
  </div>
  <div class="card-description">
    <p><%= shop.description %></p>
  </div>
</div>
