<div class="top-artists">
  <h2 class="negative">
    SHOP
  </h2>
</div>
<% @shops.each do |s|%>
  <%= render "shop", shop: s %>
<% end %>
<%= link_to 'new', new_shop_path, {class: "btn btn-primary"}  %>
