html,body {
  height:100%;
  width:100%;
  position:relative;
}
#background-carousel{
  position:fixed;
  width:100%;
  height:100%;
  z-index:-1;
}
.carousel,
.carousel-inner {
  width:100%;
  height:100%;
  z-index:0;
  overflow:hidden;
}
.item {
  width:100%;
  height:100%;
  background-position:center center;
  background-size:cover;
  z-index:0;
}

#content-wrapper {
  position:absolute;
  z-index:1 !important;
  min-width:100%;
  min-height:100%;
}
.well {
    opacity:0.85
}

#title{
  color:white;
  font-size: 50px;
  font-weight: bold;
  color: #E9ECF9;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px black, 0 0 25px #efcc1c, 0 0 5px #efcc1c;
  text-align: center;

}

.page-header {
  margin-top: 290px;

}

.page-header p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px black, 0 0 25px #efcc1c, 0 0 5px #efcc1c;
  text-align: center;
}
