<div class="banner" style="background-image: url(<%= image_path 'background.jpg'%>);">
  <div class="banner-content">
    <h1 id="title">Modern Box<br>Records</h1>
    <p>Tune makers, Place owners & Party lovers</p>
  </div>
</div>
