<div id="background-carousel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active" style="background-image:url(http://res.cloudinary.com/da2krghvd/image/upload/v1505692857/background_llbiex.jpg)"></div>
      <div class="item" style="background-image:url(http://res.cloudinary.com/da2krghvd/image/upload/v1505692857/introduction_ur9nox.jpg)"></div>
      <div class="item" style="background-image:url(https://res.cloudinary.com/da2krghvd/image/upload/v1505692857/maelle-ramsay-219332_ropkzi.jpg)"></div>
    </div>
  </div>
</div>


<div id="content-wrapper">
<!-- PAGE CONTENT -->
    <div class="container">
      <div class="page-header">
        <h1 id="title">Modern Box<br>Records</h1>
        <p>Tune makers, Place owners & Party lovers</p><br><br><br><br><br><br><br>
      </div><!-- End Well -->
    </div>
    <!-- End Container -->
<!-- PAGE CONTENT -->
</div>


