<div class="top-artists">
  <h2 class="negative">
    LABEL
  </h2>
</div>
<div class="container">
  <div class="introduction">
  </div>
  <div class="row">
      <div class="col-md-12">

      <h3 class="text-center">Un label?</h3>
        <h4 class="text-center"> <small>Jusqu'alors, les labels devaient concevoir, produire et assurer la promotion d'un artiste et de son travail jusque dans la campagne de communication du disque.<br> L’artiste produisait ses titres dans les locaux du label et pouvait enregistrer gratoch.<br> Et après, si le travail était rentable, l'artiste pouvait à envisager un avenir un peu plus cool... mais ça, c'était au XXieme siècle</small></h4>
        <hr>
      <div class="col-lg-4 col-sm-6 text-center">
        <div class="well">
          <img src="https://media.giphy.com/media/3ohhwsl72MbkiZ65Fu/giphy.gif" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          <button type="button" class="btn btn-default btn-block">Learn More</button>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <div class="well">
          <img src="https://media.giphy.com/media/3oKGzdryxKlE3gnly8/giphy.gif" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          <button type="button" class="btn btn-default btn-block">Learn More</button>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <div class="well">
          <img src="https://media.giphy.com/media/dM2xuxnJCg4H6/giphy.gif" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
          <button type="button" class="btn btn-default btn-block">Learn More</button>
        </div>
      </div>


  </div>
  </div>
  <div class="introduction">
    <div class="question">
      C'est quoi ce label?
    </div>
    <div class="answer">
      Aujourd'hui, on ne peut que constater. La révolution numérique nous fascine autant qu'elle nous mets en PLS <br> Les artistes et professionnels de la musique sont pris de vitesse à mesure que les auditeurs changent leur manière de la consommer.<br> Chez Modern box records, c'est simple!!! On sait que ça doit aller vite et que le moteur de la création artistique, c'est la création du public<br>pour ce faire, il n'y a pas 36 solutions
    </div>
    <div class="solution">
      Tu fais une musique terrible mais t'es coincé dans ta chambre ou home studio<br>
      On va te faire monter sur scène
      T'es tellement pris dans ta musique que tu n'as pas le temps de communiquer et de véhiculer une image<br>
      On s'occupe d'alimenter ta communication
      Il te manque un petit quelque chose pour être fière de tes records<br>On te présente à des gars du crew qui seront ravi de t'aider
      Tu veux plus de vues pour tes clips, plus de dl pour tes tracks, plus de dates de concerts<br>
      Passe chez Modern box records et atteinds ton audience
    </div>
  </div>
</div>



