<div class="card">
  <div class="card-header">
    <h2><%= release.title %></h2>
  </div>
  <div class="card-description">
    <% if release.record %>
      <p><%= release.record.name %></p>
    <% end %>
  </div>
</div>
